{% extends 'navbar.html' %}
{% block nav %}
<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="row p-2 container border shadow border-3" style="height: 100%;">
        <div class="col d-flex align-items-center">
        <img src="{{product.image.url}}" class="img-fluid" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <h1>{{product.title}}</h1>
          <h4>{{product.description}}</h4>
          <h6>{{product.price}}</h6>
          <p>Category:{{product.category}}</p>
          <div class="d-grid">
           <a href="{% url 'addtocart' product.id %}" class="btn btn-outline-dark">
            Add to Cart
           </a>
        </div>
      </div>
    </div>
</div>

{% endblock nav %}